<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Demoerp/libs/server/jvx.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sibvisions.rad.ui.swing.impl.SwingApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="com.sibvisions.apps.projx.ProjX /com/sibvisions/apps/demoerp/application.xml Application.Login.password=admin Application.Login.username=admin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Demoerp"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DConfiguration.basedir=&quot;${workspace_loc:Demoerp}/WebContent/WEB-INF&quot;"/>
</launchConfiguration>
